html{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(229,229,229);
    background-image: url("Field Manager _ Fulcrum.png");
    background-repeat: no-repeat;
    background-position: left;
    height:1906px;
}

#url_wiz_div{
    display: none;
    width: 640px;
    border-width: 1px;
    border-color: #b5b5b5;
    border-style: solid;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 20px #888888;
    top:20%;
}

#url_wiz_div td{
    padding: 1;
    word-wrap: break-word;
    font-size: 12;
    
}

#url_wiz_table{
    width: 100%;
    table-layout: fixed;
    margin-left: 3%;
    vertical-align: center;
}
#base_url_input {
    width:100%;
}

#warn_icon {
    font-size:12px;
    margin-right:10px;
    margin-left:10px;
}

#survey_num_warn_row {
    height: 50px;
    visibility: collapse;
}

#survey_num_alias_input {
    margin-right: 30px;
}
h1 {
    font-size: 20;
}
h2{
    color:#1E70DD;
}

.warn-cell {
    background:#ffbebe;
}

#gen_url_output {
    width:120%;
    height: 70px;
}

.result_area {
    background: #b4b4b4;
    width:100%;
    vertical-align: top;
    margin-top: 30px;

}

.search_param_alias_input{
    color:red;
}
.add_param_button {
    width:150px;
}

#add-icon {
    font-size:25px;
    color: grey;
}
.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: auto;
    background-color: white;
    border-width: medium;
    border-color: #eeeeee;
    border-style: solid;
}


td.result_element {
    padding-left: 10px !important;
    padding-top:0px !important;
    padding-bottom: 10px !important;
    vertical-align: top;
}

input[type=text] {
    padding: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #eee; /* Here */
}
input[type="text"]:disabled {
    background: #dddddd;
}
#warn_row{
    display: none;
}
#activate_url_builder_button{
    position: absolute;
    top: 1325px;
    left: 333px;
    height: 20px;
    font-size: 12px;
    
}